@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --primary: #8cff2e;
  --dark: #0a0a0a;
}
* {
  font-family: "Outfit", sans-serif;
  color: var(--dark);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8 !important;
}
.bg-custom-primary {
  background-color: var(--primary);
}
.custom-primary {
  color: var(--primary);
}
.bg-custom-dark {
  background-color: var(--dark);
}
